:root {
  --main-color: #7f22fe;
  --main-transition: 0.3s;
  --main-gray: #4a5565;
  --main-black: #101828;
  --main-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Exo", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background-color: #fafaf9;
}
span,
a {
  display: inline-block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

ul {
  list-style: none;
}
::selection {
  background-color: #a684ff;
  color: #fff;
}
/* Navbar Section */
nav {
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -2px #0000001a;
  border-bottom: 1px solid #e2e8f0;
}
.nav-container {
  height: 80px;
  width: 100%;
}
nav .logo {
  color: #1d293d;
}
.navbar-nav {
  gap: 32px;
}
.navbar-nav .nav-link.active {
  color: #7c3aed;
  font-weight: 600;
}
.navbar-nav .nav-link {
  color: #314158;
  padding: 6px 0 !important;
  transition: color var(--main-transition);
  position: relative;
  -webkit-transition: color var(--main-transition);
  -moz-transition: color var(--main-transition);
  -ms-transition: color var(--main-transition);
  -o-transition: color var(--main-transition);
}
.navbar-nav .nav-link:hover {
  color: #7c3aed;
}
.navbar-nav .nav-link::before {
  content: "";
  background: linear-gradient(90deg, #7c3aed, #8b5cf6);
  width: 0;
  height: 2px;
  transition: width var(--main-transition);
  position: absolute;
  bottom: 3px;
  left: 0;
  -webkit-transition: width var(--main-transition);
  -moz-transition: width var(--main-transition);
  -ms-transition: width var(--main-transition);
  -o-transition: width var(--main-transition);
}
.navbar-nav .nav-link.active::before {
  width: 100%;
}
.navbar-nav .nav-link:hover::before {
  width: 100%;
}
.navbar .navbar-toggler {
  width: 24px;
  height: 24px;
  border: none !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navbar .navbar-toggler i {
  color: #314158;
}
.navbar .navbar-toggler:focus {
  outline-style: none !important;
  box-shadow: none !important;
}
.navbar .navbar-toggler:hover i {
  color: #7c3aed;
}
.navbar .nav-logo {
  width: 80%;
}
@media (max-width: 600px) {
  .navbar .nav-logo {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .navbar-nav {
    gap: 0;
  }
  .navbar-collapse {
    background-color: white;
    border-top: 1px solid #e2e8f0;
    padding-block: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    box-shadow: var(--main-shadow);
  }
  .navbar-nav .nav-link {
    padding: 12px 16px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .navbar-nav .nav-link:hover {
    background-color: #f5f3ff;
  }
  .navbar-nav .nav-link::before {
    display: none;
  }
  .navbar-nav .nav-link.active {
    color: #314158;
    font-weight: 500;
  }
  .navbar-nav .nav-link.active:hover {
    color: #7c3aed;
  }
}
/* Dropdown Menu */
.navbar-nav .dropdown-toggle {
  color: #314158;
  background-color: #0000;
  border-style: none;
  cursor: pointer;
  transition: color var(--main-transition);
  -webkit-transition: color var(--main-transition);
  -moz-transition: color var(--main-transition);
  -ms-transition: color var(--main-transition);
  -o-transition: color var(--main-transition);
}
.navbar-nav .dropdown-toggle i {
  font-size: 12px;
}
@media (max-width: 992px) {
  .navbar-nav .dropdown-toggle i {
    transform: rotate(0deg);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .navbar-nav .dropdown-toggle[aria-expanded="true"] i{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
}
.navbar-nav .dropdown-toggle::after {
  display: none !important;
  content: none !important;
}
.navbar-nav .mega-menu {
  top: 130%;
  box-shadow:
    0 20px 25px -5px #0000001a,
    0 8px 10px -6px #0000001a;
  width: 1200px;
  z-index: 50;
  transform: translateX(-67%);
  -webkit-transform: translateX(-67%);
  -moz-transform: translateX(-67%);
  -ms-transform: translateX(-67%);
  -o-transform: translateX(-67%);
  border: none;
}
@media (min-width: 1160px) and (max-width: 1320px) {
  .navbar-nav .mega-menu {
    top: 25% !important;
    transform: translateX(-60%) scale(0.9);
    -webkit-transform: translateX(-60%) scale(0.9);
    -moz-transform: translateX(-60%) scale(0.9);
    -ms-transform: translateX(-60%) scale(0.9);
    -o-transform: translateX(-60%) scale(0.9);
  }
}
@media (min-width: 992px) and (max-width: 1160px) {
  .navbar-nav .mega-menu {
    top: -15px !important;
    transform: translateX(-50%) scale(0.8);
    -webkit-transform: translateX(-50%) scale(0.8);
    -moz-transform: translateX(-50%) scale(0.8);
    -ms-transform: translateX(-50%) scale(0.8);
    -o-transform: translateX(-50%) scale(0.8);
  }
}
.navbar-nav .mega-menu .row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: 32px;
}
.navbar-nav .mega-menu h3 {
  color: var(--main-black);
  font-size: 18px;
  line-height: 1.5;
}
.navbar-nav .mega-menu .properties a {
  padding: 12px;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.navbar-nav .mega-menu .properties .properties-content a:hover {
  background-color: #fbf9fa;
}
.mega-menu .properties .properties-content img {
  width: 64px;
  height: 64px;
}
.mega-menu .properties .properties-content .image-info {
  margin-left: 12px;
}
.mega-menu .properties .properties-content .image-info h4 {
  color: var(--main-black);
  font-size: 14px;
}
.mega-menu .properties .properties-content .image-info p {
  color: #6a7282;
  line-height: 1.4;
  font-size: 14px;
}
.mega-menu .property-types ul li {
  margin-bottom: 16px;
}
.mega-menu .property-types a {
  color: var(--main-gray);
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.mega-menu .property-types a:hover {
  color: var(--main-color);
}
.mega-menu .property-types i {
  width: 20px;
  color: #99a1af;
  margin-right: 14px;
}

.mega-menu .popular-locations a:not(:last-child) {
  margin-bottom: 12px;
}
.mega-menu .popular-locations .image-details {
  height: 80px;
  background-size: cover;
  background-position: 50%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .popular-locations .image-1 {
  background-image: url(../Images/new-york.jpeg);
}
.mega-menu .popular-locations .image-2 {
  background-image: url(../Images/los-angeles.jpeg);
}
.mega-menu .popular-locations .image-3 {
  background-image: url(../Images/miami.jpeg);
}
.mega-menu .popular-locations .image-details .location-layer {
  background-image: linear-gradient(to right, #4d179a99, #59168b99);
  inset: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .popular-locations .image-details:hover .location-layer {
  background-image: linear-gradient(to right, #4d179ab3, #59168bb3);
}

.mega-menu .popular-locations .image-details .image-name {
  inset: 0;
}
.mega-menu .popular-locations .image-details .image-name span:first-child {
  font-size: 18px;
  line-height: 1.5;
}
.mega-menu .popular-locations .image-details .image-name span:last-child {
  font-size: 14px;
  color: #ddd6ff;
  line-height: 1.4;
}
.mega-menu .resources a {
  border: 1px solid #ede9fe;
  border-radius: 12px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.mega-menu .resources .card-1 {
  border: 1px solid #ede9fe;
}
.mega-menu .resources .card-1:hover {
  border-color: #ddd6ff;
}
.mega-menu .resources .card-2 {
  border: 1px solid #dcfce7;
}
.mega-menu .resources .card-2:hover {
  border-color: #b9f8cf;
}
.mega-menu .resources .card-3 {
  border: 1px solid #f3e8ff;
}
.mega-menu .resources .card-3:hover {
  border-color: #e9d4ff;
}
.mega-menu .resources .resource-content {
  padding: 20px;
}
.mega-menu .resources .resource-content .resource-title {
  margin-bottom: 12px;
}
.mega-menu .resources .resource-content .resource-title .icon {
  width: 40px;
  height: 40px;
}
.mega-menu .resources .card-1 .icon {
  color: var(--main-color);
  background-color: #ede9fe;
}
.mega-menu .resources .card-2 .icon {
  color: #00a63e;
  background-color: #dcfce7;
}
.mega-menu .resources .card-3 .icon {
  color: #9810fa;
  background-color: #f3e8ff;
}
.mega-menu .resources .icon i {
  font-size: 18px;
  line-height: 1.5;
}
.mega-menu .resources .resource-title h4 {
  color: var(--main-black);
  font-size: 18px !important;
  line-height: 1.5;
  margin-left: 12px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .resources .card-1:hover h4,
.mega-menu .resources .card-1 .learn-more {
  color: var(--main-color);
}
.mega-menu .resources .card-2:hover h4,
.mega-menu .resources .card-2 .learn-more {
  color: #00a63e;
}
.mega-menu .resources .card-3:hover h4,
.mega-menu .resources .card-3 .learn-more {
  color: #9810fa;
}
.mega-menu .resources a .resource-content p {
  color: var(--main-gray);
}
.mega-menu .resources .learn-more {
  margin-top: 12px;
}
.mega-menu .resources .learn-more span {
  font-size: 14px;
  line-height: 1.4;
}
.mega-menu .resources .learn-more i {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .resources a:hover .learn-more i {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}
.mega-menu .resources a .circle {
  width: 128px;
  height: 128px;
  margin-right: -64px;
  margin-top: -64px;
  opacity: 0.5;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .resources a:hover .circle {
  opacity: 0.7;
}
.mega-menu .resources .card-1 .circle {
  background-image: linear-gradient(to bottom right, #ede9fe, #f5f3ff);
}
.mega-menu .resources .card-2 .circle {
  background-image: linear-gradient(to bottom right, #dcfce7, #f0fdf4);
}
.mega-menu .resources .card-3 .circle {
  background-image: linear-gradient(to bottom right, #f3e8ff, #faf5ff);
}
@media (max-width: 992px) {
  .navbar-nav .mega-menu {
    height: 400px;
    overflow: auto;
    padding-inline: 8px;
    position: static !important;
    width: 100% !important;
    box-shadow: none !important;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
  }
  .navbar-nav .mega-menu .container-fluid {
    --bs-gutter-x: 0;
  }
  .navbar-nav .mega-menu .row {
    --bs-gutter-x: 16px !important;
    --bs-gutter-y: 16px !important;
  }
  .navbar-nav .mega-menu h3 {
    font-size: 14px !important;
    font-weight: bold !important;
  }
  .navbar-nav .mega-menu .properties,
  .navbar-nav .mega-menu .property-types,
  .navbar-nav .mega-menu .popular-locations,
  .navbar-nav .mega-menu .resources {
    background-color: #f9fafb;
    padding: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .navbar-nav .mega-menu .properties .properties-content a {
    background-color: white;
    margin-right: 12px;
  }
  .navbar-nav .mega-menu .properties .properties-content a:hover {
    background-color: #f5f3ff;
  }
  .mega-menu .properties .properties-content img {
    width: 50px;
    height: 50px;
  }
  .mega-menu .properties .properties-content .image-info h4 {
    font-size: 12px;
  }
  .mega-menu .properties .properties-content .image-info p {
    font-size: 12px;
  }
  .navbar-nav .mega-menu .property-types ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .mega-menu .property-types ul li {
    margin-bottom: 4px !important;
  }
  .mega-menu .property-types a span {
    font-size: 14px;
  }
  .navbar-nav .mega-menu .popular-locations .popular-images {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;
  }
  .mega-menu .popular-locations .image-details {
    height: 60px;
  }
  .mega-menu .popular-locations .image-details .image-name span:first-child {
    font-size: 16px;
  }
  .mega-menu .popular-locations .image-details .image-name span:last-child {
    font-size: 12px;
  }
  .navbar-nav .mega-menu .resources .resources-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
  }
  .mega-menu .resources .resource-content {
    padding: 12px !important;
  }
  .mega-menu .resources a .resource-content h4 {
    font-size: 14px !important;
    margin-bottom: 0;
  }
  .mega-menu .resources a .resource-content p {
    font-size: 14px;
    margin-bottom: 0;
  }
}
@media (max-width: 600px) {
  .mega-menu .property-types a span {
    font-size: 12px;
  }
  .mega-menu .popular-locations .image-details .image-name span:first-child {
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 4px;
  }
  .mega-menu .popular-locations .image-details .image-name span:last-child {
    font-size: 10px;
    line-height: 1.1;
  }
  .mega-menu .resources a .resource-content h4 {
    font-size: 12px !important;
    line-height: 1.2;
  }
  .mega-menu .resources a .resource-content p {
    font-size: 12px;
  }
}
/* Hero Section */
.hero {
  background-image:
    linear-gradient(to right, #4d179acc, #59168bcc),
    url(../Images/hero-bg-img.png);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 0;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 80px;
  }
}
.hero .section-container,
.contact .section-container {
  z-index: 10;
}
.hero .hero-title {
  font-size: 60px;
}
@media (max-width: 992px) {
  .hero .hero-title {
    font-size: 50px;
  }
}
.hero .hero-subtitle {
  line-height: 1.6;
  color: #ebe6e7;
  max-width: 672px;
}
.search-box {
  box-shadow: 0 25px 50px -12px #00000040;
  max-width: 850px;
}
.search-box .form-label {
  color: #364153;
  font-size: 14px;
}

.search-box .form-control,
.search-box .select-form {
  border: 1px solid #d1d5dc;
  padding-block: 12px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.search-box .select-form {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.search-box .location-icon {
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #99a1af;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.search-box .form-control::placeholder {
  color: #8f96a3;
}
.search-box .form-control:focus,
.search-box .select-form:focus {
  outline-style: none;
  border-color: #8e51ff;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px #8e51ff,
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}
.search-box form .search-button,
.featured-properties .view-all {
  padding: 16px 32px;
  font-weight: 600;
  background-image: linear-gradient(to right, #7f22fe, #9810fa) !important;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.search-box form .search-button {
  font-size: 18px;
  box-shadow: var(--main-shadow);
}
.search-box form .search-button:hover,
.featured-properties .view-all:hover {
  background-image: linear-gradient(to right, #7008e7, #8200db) !important;
}
.search-box form .search-button i {
  margin-right: 12px;
}
.hero-data {
  max-width: 768px;
  margin-bottom: 3px;
}
.hero-data .above-num {
  font-size: 30px;
}
.hero-data .below-data {
  color: #ddd6ff;
}

/* Style of Header-title for main sections */
.section-header {
  margin-bottom: 64px;
}
.section-header .header-box {
  gap: 12px;
}
.section-header .header-box span {
  color: #7008e7;
  letter-spacing: 0.6px;
  font-size: 12px;
  padding: 8px 20px;
  border: 2px solid #ddd6ff;
  background-image: linear-gradient(to right, #f5f3ff, #faf5ff);
}
.contact .section-header .header-box span {
  background-image: none;
}
.section-header .header-box::before,
.section-header .header-box::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.section-header .header-box::before {
  left: -75px;
  background-image: linear-gradient(
    to right in oklab,
    transparent 0%,
    #8e51ff 50%,
    #7f22fe 100%
  );
}
.section-header .header-box::after {
  right: -75px;
  background-image: linear-gradient(
    to left in oklab,
    transparent 0%,
    #ad46ff 50%,
    #7f22fe 100%
  );
}
.section-header h2 {
  font-size: 48px;
  font-weight: 900;
}
.featured-properties .section-header h2 span,
.services .section-header h2 span,
.contact .section-header h2 span {
  background-image: linear-gradient(
    to right in oklab,
    #7f22fe 0%,
    #9810fa 50%,
    #fe9a00 100%
  );
  background-clip: text;
  color: #0000;
}
.questions .section-header h2 span {
  background-image: linear-gradient(
    to right,
    #7f22fe 0%,
    #7008e7 50%,
    #9810fa 100%
  );
  background-clip: text;
  color: #0000;
}
.section-header .section-subtitle {
  color: var(--main-gray);
  line-height: 1.4;
  max-width: 672px;
}
.testimonials .section-header .section-subtitle {
  color: #ddd6ff;
}
.testimonials .section-header .header-box::before {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    #ffb900 50%,
    #fe9a00 100%
  );
}
.testimonials .section-header .header-box::after {
  background-image: linear-gradient(
    to left,
    transparent 0%,
    #ed6bff 50%,
    #fe9a00 100%
  );
}
@media screen and (max-width: 992px) {
  .section-header h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) {
  .section-header h2 {
    font-size: 30px;
  }
}

/* Featured properties Section*/
.featured-properties {
  padding-block: 80px;
  background-color: #fbf9fa;
}
.featured-properties .row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: 32px;
}
.featured-properties .property-card {
  box-shadow: var(--main-shadow);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.featured-properties .property-card .card-image {
  height: 256px;
}
.featured-properties .property-card .card-image img {
  cursor: pointer;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.featured-properties .property-card:hover .card-image img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.featured-properties .property-card .card-image .badge {
  font-size: 14px;
  padding: 8px 12px;
  top: 16px;
  left: 16px;
}
.featured-properties .property-card .card-image .badge-1 {
  background-color: var(--main-color);
}
.featured-properties .property-card .card-image .badge-2 {
  background-color: #00a63e;
}
.featured-properties .property-card .card-image .badge-3 {
  background-color: #e17100;
}
.featured-properties .property-card .card-image .heart-icon {
  background-color: #ffffffe6;
  right: 16px;
  top: 16px;
  cursor: pointer;
  padding-top: 9px;
  padding-inline: 6px;
  padding-bottom: 10px;
}
.featured-properties .property-card .card-image .heart-icon i {
  color: var(--main-gray);
}
.featured-properties .property-card .card-image .camera-icon {
  font-size: 14px;
  padding: 4px 12px;
  background-color: #000000b3;
  left: 16px;
  bottom: 16px;
}
.featured-properties .property-card .card-content .card-price {
  margin-bottom: 12px;
}
.featured-properties .property-card .card-content .card-price .price {
  color: var(--main-color);
  font-size: 30px;
}
.featured-properties .property-card .card-content .card-price span {
  font-size: 14px;
  color: #6a7282;
}
.featured-properties .property-card .card-content .card-details {
  margin-bottom: 12px;
  color: var(--main-gray);
}
.featured-properties .property-card .card-content .card-name {
  color: #1e2939;
}
.featured-properties .property-card .card-content .card-address {
  color: var(--main-gray);
}
.featured-properties .property-card .card-content .bottom-info img {
  width: 32px;
  height: 32px;
}
.featured-properties .property-card .card-content .bottom-info .name {
  font-size: 14px;
  color: var(--main-gray);
}
.featured-properties .property-card .card-content button {
  color: var(--main-color);
  font-size: 14px;
  background-color: #ede9fe;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.featured-properties .property-card .card-content button:hover {
  background-color: #ddd6ff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .featured-properties .property-card .card-content .card-price,
  .featured-properties .property-card .card-content .bottom-info {
    flex-direction: column;
    gap: 12px;
  }
}
@media (max-width: 450px) {
  .featured-properties .property-card .card-content .card-price,
  .featured-properties .property-card .card-content .bottom-info {
    flex-direction: column;
    gap: 12px;
  }
}
/* Services Section */
.services {
  padding-block: 80px;
}
.services .services-content {
  max-width: 1152px;
}
.services .services-content .service-tabs {
  margin-bottom: 32px;
  border-bottom: 1px solid #ebe6e7;
}

.services .services-content .service-tabs .nav-link {
  padding: 16px 24px;
  color: var(--main-gray);
  font-weight: 600;
  background-color: transparent;
  border-radius: 0;
  margin-bottom: -1px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.services .services-content .service-tabs .nav-link.active {
  color: var(--main-color);
  background-color: #f5f3ff;
  border-bottom: 2px solid var(--main-color);
}
.services .services-content .service-tabs .nav-link:hover {
  color: var(--main-color);
  border-color: #c4b4ff;
}

.services .services-content .tab-content h3 {
  color: var(--main-black);
  font-size: 30px;
}
.services .services-content .tab-content .more-info {
  color: var(--main-gray);
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 32px;
}
.services .content-info .service-icon {
  padding: 12px;
}
.buying-content .service-icon {
  background-color: #ede9fe;
}
.selling-content .service-icon {
  background-color: #dcfce7;
}
.renting-content .service-icon {
  background-color: #f3e8ff;
}
.investing-content .service-icon {
  background-color: #fef9c2;
}
.commerical-content .service-icon {
  background-color: #e0e7ff;
}

.buying-content .service-icon i,
.buying-content .service-badge div:first-child {
  color: var(--main-color);
}
.selling-content .service-icon i,
.selling-content .service-badge div:first-child {
  color: #00a63e;
}
.renting-content .service-icon i,
.renting-content .service-badge div:first-child {
  color: #9810fa;
}
.investing-content .service-icon i,
.investing-content .service-badge div:first-child {
  color: #d08700;
}
.commerical-content .service-icon i,
.commerical-content .service-badge div:first-child {
  color: #4f39f6;
}
.buying-content .search-button {
  background-color: var(--main-color);
}
.buying-content .search-button:hover {
  background-color: #7008e7;
}
.selling-content .search-button {
  background-color: #00a63e;
}
.selling-content .search-button:hover {
  background-color: #008236;
}
.renting-content .search-button {
  background-color: #9810fa;
}
.renting-content .search-button:hover {
  background-color: #8200db;
}
.investing-content .search-button {
  background-color: #d08700;
}
.investing-content .search-button:hover {
  background-color: #a65f00;
}
.commerical-content .search-button {
  background-color: #4f39f6;
}
.commerical-content .search-button:hover {
  background-color: #432dd7;
}
.services .content-info .service-content h4 {
  font-weight: 600;
  color: var(--main-black);
  line-height: 1.4;
}
.services .content-info .service-content p {
  color: var(--main-gray);
  font-size: 16px;
  line-height: 1.5;
}

.services .search-button {
  font-weight: 600;
  padding: 16px 32px;
  margin-top: 32px;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.services img {
  box-shadow: var(--main-shadow);
  height: 384px;
}
.services .buying-content .service-badge,
.services .renting-content .service-badge,
.services .commerical-content .service-badge {
  box-shadow: var(--main-shadow);
  left: -24px;
  bottom: -24px;
}
.services .selling-content .service-badge,
.services .investing-content .service-badge {
  box-shadow: var(--main-shadow);
  right: -24px;
  bottom: -24px;
}

.services .service-badge div:last-child {
  color: var(--main-gray);
}
/* Testimonials Section */
.testimonials {
  padding-block: 80px;
  background-image: linear-gradient(to right, #4d179a, #59168b);
}
.testimonials .carousel-container {
  max-width: 1152px;
  padding-inline: 80px;
}
@media (max-width: 992px) {
  .testimonials .carousel-dots {
    bottom: -40px !important;
  }
}
@media (max-width: 840px) {
  .testimonials .carousel-container {
    max-width: 900px;
    padding-inline: 30px;
  }
  .testimonials .carousel-dots {
    bottom: -20px !important;
  }
}
@media (max-width: 760px) {
  .testimonials .carousel-container {
    padding-inline: 10px;
  }
  .testimonials .carousel-dots {
    bottom: -40px !important;
  }
}
.testimonials .carousel-inner {
  min-height: 390px;
}
.testimonials .carousel-item.active {
  display: flex;
  justify-content: center;
}
.testimonials .card {
  padding: 36px;
  max-width: 900px;
  border: none;
  box-shadow:
    0 20px 25px -5px #0000001a,
    0 8px 10px -6px #0000001a;
}
.testimonials .card-stars .star-icons {
  color: #ffb900;
}
.testimonials .card-stars span {
  color: var(--main-gray);
}
.testimonials blockquote {
  color: #364153;
  line-height: 1.66;
  margin-bottom: 32px;
}
.testimonials img {
  width: 64px;
  height: 64px;
}
.testimonials .image-info h4 {
  color: var(--main-black);
  font-size: 18px;
  line-height: 1.5;
}
.testimonials .image-info p:first-child {
  color: var(--main-gray);
  line-height: 1.4;
}
.testimonials .image-info p:last-child {
  color: #6a7282;
  font-size: 14px;
  line-height: 1.4;
}
.testimonials .slider-prev-btn,
.testimonials .slider-next-btn {
  width: 48px;
  height: 48px;
  background-color: #ffffff33;
  color: white;
  padding: 12px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  backdrop-filter: blur(8px);
  cursor: pointer;
  opacity: 1 !important;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.testimonials .slider-prev-btn {
  left: -65px;
}
.testimonials .slider-next-btn {
  right: -65px;
}
.testimonials .slider-prev-btn:hover,
.testimonials .slider-next-btn:hover {
  background-color: #ffffff4d;
}
.testimonials .slider-icon {
  color: white;
}
.testimonials .carousel-dots {
  position: absolute;
  bottom: -10px;
  margin-bottom: 0;
  margin-top: 32px;
}
.testimonials .carousel-dots button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #ffffff4d !important;
  border: none !important;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .carousel-dots button:last-child {
  margin-right: 0;
}
.testimonials .carousel-dots .active {
  background-color: #fff !important;
}

/* FAQ Section */
.questions {
  padding-block: 80px;
  background-color: #f9fafb;
}
.questions .questions-container {
  max-width: 896px;
}

.questions .accordion .accordion-item {
  box-shadow: var(--main-shadow);
  border: none;
}

.questions .accordion .accordion-item button {
  color: var(--main-black);
  font-weight: 600;
  line-height: 1.4;
  padding: 24px 32px;
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  background-color: #ffffff !important;
  box-shadow: none;
  display: flex;
  align-items: center;
}
.questions .accordion .accordion-item button:hover {
  background-color: #fbf9fa !important;
}
.questions .accordion .accordion-item .accordion-body {
  color: var(--main-gray);
  line-height: 1.6;
  margin: 0;
  padding: 24px 32px;
}
.collapsing {
  transition: height 0.35s ease !important;
  -webkit-transition: height 0.35s ease !important;
  -moz-transition: height 0.35s ease !important;
  -ms-transition: height 0.35s ease !important;
  -o-transition: height 0.35s ease !important;
}
.accordion-collapse {
  margin: 0 !important;
  padding: 0 !important;
}
.questions .accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.questions .accordion .accordion-button::after {
  display: none;
}
.questions .accordion .arrow-top-bottom {
  margin-left: auto;
  color: #6a7282;
  font-size: 16px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.questions .accordion .accordion-button.collapsed .arrow-top-bottom {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.questions .accordion .accordion-button:not(.collapsed) .arrow-top-bottom {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.questions .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--main-black);
  background-color: white;
  box-shadow: none;
}

/* Contact Us Section */
.contact {
  padding-block: 96px;
}
.contact .circles {
  inset: 0;
}
.contact .circles .circle-1 {
  width: 384px;
  height: 384px;
  background-color: #ede9fe;
  right: -160px;
  top: -160px;
}
.contact .circle-2 {
  width: 384px;
  height: 384px;
  background-color: #f3e8ff;
  left: -160px;
  bottom: -160px;
}
.contact .half-circle {
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.contact .half-circle-1 {
  width: 128px;
  height: 128px;
  top: 80px;
  right: 80px;
  border: 4px solid #ddd6ff;
}
.contact .half-circle-2 {
  width: 128px;
  height: 128px;
  bottom: 128px;
  left: 128px;
  border: 4px solid #e9d4ff;
}
.contact .contact-container {
  max-width: 1280px;
}
.contact .main-contact .row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: 32px;
}
.contact .contact-container .contact-cards {
  margin-bottom: 64px;
}
.contact .contact-cards .card-content {
  border: 2px solid #f6f3f4;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact .contact-cards .card-content:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}
.contact .contact-cards .card-1:hover {
  border-color: #c4b4ff;
}
.contact .contact-cards .card-2:hover {
  border-color: #dab2ff;
}
.contact .contact-cards .card-3:hover {
  border-color: #f4a8ff;
}
.contact .contact-cards .card-4:hover {
  border-color: #a3b3ff;
}
.contact .contact-cards .card-content .card-icon {
  width: 64px;
  height: 64px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact .contact-cards .card-1 .card-icon {
  background-image: linear-gradient(to bottom right, #8e51ff, #7f22fe);
}
.contact .contact-cards .card-2 .card-icon {
  background-image: linear-gradient(to bottom right, #ad46ff, #9810fa);
}
.contact .contact-cards .card-3 .card-icon {
  background-image: linear-gradient(to bottom right, #e12afb, #fe9a00);
}
.contact .contact-cards .card-4 .card-icon {
  background-image: linear-gradient(to bottom right, #615fff, #4f39f6);
}
.contact .contact-cards .card-content:hover .card-icon {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contact .contact-cards .card-content h3 {
  font-size: 18px;
  line-height: 1.55;
  color: var(--main-black);
}
.contact .contact-cards .card-content p {
  color: var(--main-gray);
  font-size: 14px;
  margin-bottom: 12px;
}
.contact .contact-cards .card-content a,
.contact .contact-cards .card-content span {
  font-weight: 600;
}
.contact .contact-cards .card-1 a {
  color: var(--main-color);
}
.contact .contact-cards .card-1 a:hover {
  color: #7008e7;
}
.contact .contact-cards .card-2 a {
  color: #9810fa;
}
.contact .contact-cards .card-2 a:hover {
  color: #8200db;
}
.contact .contact-cards .card-3 span {
  color: #e60076;
}
.contact .contact-cards .card-4 span {
  color: #4f39f6;
}
.contact .contact-cards .card-4 span:hover {
  color: #432dd7;
}
.contact .main-contact .left-info {
  padding: 32px;
  background-color: #f5f6f8;
}
.contact .main-contact .left-info .contacts {
  margin-bottom: 20px;
}
.contact .main-contact .left-info h3 {
  color: var(--main-black);
}
.contact .main-contact .left-info .contact-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.contact .main-contact .left-info .contact-icon i {
  font-size: 18px;
  line-height: 1.55;
}
.contact .main-contact .left-info .icon-1 i {
  color: #4f39f6;
}
.contact .main-contact .left-info .icon-2 i {
  color: #9810fa;
}
.contact .main-contact .left-info .icon-3 i {
  color: #e60076;
}
.contact .main-contact .left-info .icon-4 i {
  color: #4f39f6;
}
.contact .main-contact .left-info .details h4 {
  color: var(--main-black);
  font-weight: 600;
  font-size: inherit;
}
.contact .main-contact .left-info .details p {
  color: var(--main-gray);
  font-size: 14px;
  line-height: 1.4;
}
.contact .main-contact .social-media {
  background-image: linear-gradient(to bottom right, #7f22fe, #9810fa);
  padding: 32px;
}
.contact .main-contact .social-media p {
  color: #ede9fe;
  font-size: 14px;
  line-height: 1.4;
}
.contact .main-contact .social-media a {
  width: 48px;
  height: 48px;
  background-color: #ffffff33;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.contact .main-contact .social-media a:hover {
  background-color: #ffffff4d;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contact .main-contact .social-media a i {
  font-size: 18px;
  line-height: 1.5;
}

.contact .main-contact .right-info {
  padding: 40px;
  border: 2px solid #f6f3f4;
}
@media (max-width: 768px) {
  .contact .main-contact .right-info {
    padding: 32px;
  }
}
.contact .main-contact .right-info .right-info-title {
  margin-bottom: 32px;
}
.contact .main-contact .right-info .right-info-title h3 {
  color: var(--main-black);
  font-size: 30px;
  margin-bottom: 12px;
}
.contact .main-contact .right-info .right-info-title p {
  color: var(--main-gray);
}
.contact .main-contact .right-info label {
  color: #364153;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}
.contact .main-contact .right-info .form-control,
.contact .main-contact .right-info .select-form,
.contact .main-contact .right-info textarea {
  padding: 12px 16px;
  background-color: #f9fafb;
  color: inherit;
  border: 1px solid #ebe6e7;
  border-radius: 12px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.contact .main-contact .right-info textarea {
  resize: none;
}
.contact .main-contact .right-info .form-control:focus,
.contact .main-contact .right-info .select-form:focus,
.contact .main-contact .right-info textarea:focus {
  outline-style: none;
  border-color: #8e51ff;
  border-width: 1px;
  background-color: white;
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px #8e51ff,
    0 10px 15px -3px #0000001a,
    0 4px 6px -4px #0000001a;
}
.contact .main-contact .right-info .form-control::placeholder {
  color: #a7a8ab;
}
.contact .main-contact .right-info .checkbox-box {
  gap: 6px;
  background-color: #f5f3ff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.contact .main-contact .right-info .form-check-input {
  width: 22px;
  height: 22px;
  color: var(--main-color);
  border-color: #d1d5dc;
  cursor: pointer;
}

.contact .main-contact .right-info .form-check-input:checked {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
.form-check-input:focus {
  box-shadow: none !important;
}
.contact .main-contact .right-info .check-label {
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #364153;
}
.contact .main-contact .right-info button {
  font-size: 18px;
  line-height: 1.5;
  gap: 12px;
  padding: 16px 32px;
  background-image: linear-gradient(to right, #7f22fe, #9810fa);
  transition: var(--main-transition);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact .main-contact .right-info button:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}
.contact .main-contact .right-info .final-info {
  color: #6a7282;
  font-size: 14px;
  line-height: 1.4;
}

/* Footer Section */
footer {
  background-image: linear-gradient(to right, #4d179a, #59168b);
}
footer .footer-content {
  border-bottom: 1px solid #ffffff1a;
  padding-bottom: 24px;
}
footer .logo {
  gap: 12px;
}
footer .copyright {
  color: #ddd6ff;
}
footer .social-links a {
  width: 40px;
  height: 40px;
  background-color: #ffffff1a;
  backdrop-filter: blur(8px);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .social-links a:hover {
  background-color: var(--main-color);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

footer .love {
  color: #c4b4ff;
  font-size: 14px;
  line-height: 1.4;
}
footer .love i {
  color: #ff6467;
}
